{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redwood Civic Center</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/Reservation.css' %}">
  <script src="{% static 'js/Reservation.js' %}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
</head>

<body>
  {% for room_type in room_types %}
  {% if current_room == room_type.room_type %}
  <!-- multistep form -->
  <form id="multistepsform" autocomplete="off" method="POST" action="">
    {% csrf_token %}
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Personal Details</li>
      <li class="active">Date and Room</li>
      <li class="active">Time Slots</li>
      <li>Usage Fee</li>
    </ul>
    <fieldset>
      <h2 class="fs-title">Available Time slots for type {{room_type.room_type}}</h2>
      <select id="timeslot" name="timeslot" placeholder="">
        <option selected hidden>Available Timeslot</option>
          {% for reservations in reservation %}
            <!-- 3 all -->
            {% if reservations.morning == 0 and reservations.afternoon == 0 and reservations.evening == 0 %}
            <option name="morning" value="{{room_type.morning}}">Morning (9:00 to 12:00 PM)</option>
            <option name="afternoon" value="{{room_type.afternoon}}">Afternoon (1:00 to 5:00 PM)</option>
            <option name="evening" value="{{room_type.evening}}">Evening (6:00 to 10:00 PM)</option>
            <input type="submit" name="previousDate" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <!--2 by 2-->
            {% elif reservations.morning == 0 and reservations.afternoon == 0 %}
            <option name="morning" value="{{room_type.morning}}">Morning (9:00 to 12:00 PM)</option>
            <option name="afternoon" value="{{room_type.afternoon}}">Afternoon (1:00 to 5:00 PM)</option>
            <option name="evening" value="{{room_type.evening}}" disabled>Evening (Already Taken)</option>
            <input type="submit" name="previousDate" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
            {% elif reservations.morning == 0 and reservations.evening == 0 %}
            <option name="morning" value="{{room_type.morning}}">Morning (9:00 to 12:00 PM)</option>
            <option name="afternoon" value="{{room_type.afternoon}}" disabled>Afternoon (Already Taken)</option>
            <option name="evening" value="{{room_type.evening}}">Evening (6:00 to 10:00 PM)</option>
            <input type="submit" name="previousDate" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
            {% elif reservations.afternoon == 0 and reservations.evening == 0 %}
            <option name="morning" value="{{room_type.morning}}" disabled>Morning (Already Taken)</option>
            <option name="afternoon" value="{{room_type.afternoon}}">Afternoon (1:00 to 5:00 PM)</option>
            <option name="evening" value="{{room_type.evening}}">Evening (6:00 to 10:00 PM)</option>
            <input type="submit" name="previousDate" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
            <!--1 by 1  -->
            {% elif reservations.morning == 0 %}
            <option name="morning" value="{{room_type.morning}}">Morning (9:00 to 12:00 PM)</option>
            <option name="afternoon" value="{{room_type.afternoon}}" disabled>Afternoon (Already Taken)</option>
            <option name="evening" value="{{room_type.evening}}" disabled>Evening (Already Taken)</option>
            <input type="submit" name="previousDate" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
            {% elif reservations.afternoon == 0 %}
            <option name="morning" value="{{room_type.morning}}" disabled>Morning (Already Taken)</option>
            <option name="afternoon" value="{{room_type.afternoon}}">Afternoon (1:00 to 5:00 PM)</option>
            <option name="evening" value="{{room_type.evening}}" disabled>Evening (Already Taken)</option>
            <input type="submit" name="previousDate" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
            {% elif reservations.evening == 0 %}
            <option name="morning" value="{{room_type.morning}}" disabled>Morning (Already Taken)</option>
            <option name="afternoon" value="{{room_type.afternoon}}" disabled>Afternoon (Already Taken)</option>
            <option name="evening" value="{{room_type.evening}}">Evening (6:00 to 10:00 PM)</option>
            <input type="submit" name="previousDate" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
            {% else %}
            <option disabled>All slots are taken! Please choose another room or date</option>
            <input type="submit" name="previousDate" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" disabled/>
            {% endif %}
      </select>
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Usage Fee</h2>
      <h3 class="fs-subtitle">We remind you of the usage fee of your reservation.</h3>
      <h3 class="fs-subtitle">Type of Room: <strong>{{room_type.room_type}}</strong></h3>
      <h3 class="fs-subtitle">Room Number : <strong>{{reservations.room_number}}</strong></h3>
      <h3 class="fs-subtitle">Morning: <strong>${{room_type.morning}}</strong> &nbsp; &nbsp; Afternoon: <strong>${{room_type.afternoon}}</strong></h3>
      <h3 class="fs-subtitle">Evening: <strong>${{room_type.evening}}</strong></h3>
      <h3 class="fs-subtitle"><strong>Please enter your email again for confirmation</strong></h3>
      <input type="email" name="email" placeholder="Email" />
      <h3 class="fs-subtitle"><strong>Check your email after you make your reservation. Thank you!</strong></h3>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="submit" name="btnSubmit" class="action-button" value="Submit" />
      {% endfor %}
      {% if messages %}
      {% for result in messages %}
      <script>
        Swal.fire({
          title: 'Congratulations!!!',
          text: '{{result}}',
          icon: 'success',
          confirmButtonText: 'Okay'
        }).then((result) => {
          if (result
            .isConfirmed) {
            window.location =
              "{% url 'Home' %}";
          }
        })
      </script>
      {% endfor %}
      {% endif %}
    </fieldset>
  </form>
  {% endif %}
  {% endfor %}
</body>
</html>