 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  margin: 12px 0 0 auto;
  padding: 8px 48px;
}

.u-section-1 .u-table-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-block-16ef-42 {
  background-image: none;
}

.u-block-16ef-41 {
  background-image: none;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.75rem;
  background-image: none;
  margin: -299px 126px 0 auto;
  padding: 4px 25px;
}

.u-section-1 .u-btn-3 {
  border-style: none;

  font-size: 0.75rem;
  background-image: none;
  margin: 90px 126px 0 auto;
  padding: 4px 25px;
}

.u-section-1 .u-btn-4 {
  border-style: none;

  font-size: 0.75rem;
  background-image: none;
  margin: 89px 126px 0 auto;
  padding: 4px 25px;
}

.u-section-1 .u-btn-5 {
  border-style: none;

  font-size: 0.75rem;
  background-image: none;
  margin: -260px 10px 0 auto;
  padding: 4px 25px;
}

.u-section-1 .u-btn-6 {
  border-style: none;

  font-size: 0.75rem;
  background-image: none;
  margin: 90px 10px 0 auto;
  padding: 4px 25px;
}

.u-section-1 .u-btn-7 {
  border-style: none;

  font-size: 0.75rem;
  background-image: none;
  margin: 89px 10px 60px auto;
  padding: 4px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -1px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -255px;
  }
}