.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  margin: 24px 0 0 auto;
  padding: 8px 48px;
}

.u-section-1 .u-table-1 {
  width: 1140px;
  margin: 11px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 0.75rem;
  font-weight: normal;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-2 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-3 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-4 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-5 {
  font-size: 1rem;
}

.u-block-707c-35 {
  font-weight: 700;
}

.u-block-707c-61 {
  height: 46px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  
  font-size: 0.75rem;
  background-image: none;
  margin: -249px 119px 0 auto;
  padding: 4px 25px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.75rem;
  background-image: none;
  margin: 28px 119px 0 auto;
  padding: 4px 25px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.75rem;
  background-image: none;
  margin: 24px 119px 0 auto;
  padding: 4px 25px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.75rem;
  background-image: none;
  margin: -133px 11px 60px auto;
  padding: 4px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -16px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 3px;
    width: 540px;
  }

  .u-section-1 .u-table-header-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}